* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: solid 5px black;
}

section {
    border: solid 1px black;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: aquamarine;
}

div {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    
}
.container {
    display: flex;
    justify-content: center;
}